@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
$font-family: 'Mulish', sans-serif;

footer {
    background: #9c9311;
    color: #333;
    font-family: $font-family;

    h5 {
        font-weight: 600;
        font-size: 1.1rem;
    }


    p,
    li {
        font-size: 0.95rem;
        line-height: 1.5;
    }


    ul {
        padding-left: 0;


        li {
            list-style: none;
            margin-bottom: 6px;
            cursor: pointer;


            &:hover {
                color: #000;
                text-decoration: underline;
            }
        }
    }


    .fa {
        font-size: 20px;
        cursor: pointer;


        &:hover {
            opacity: 0.7;
        }
    }


    .social-icons {
        display: flex;
        gap: 15px;
        margin-top: 10px;
    }


    .footer-bottom {
        border-top: 1px solid #ccc;
        margin-top: 25px;
        padding-top: 15px;
        text-align: center;


        small {
            color: #777;
        }
    }
    .last-footer{
        background: #9c9311;
        color: #fff;
    }
}