.login-bg {
    background-color: #f8f9fa;
    height: 100vh;
    width: 100%;
    position: relative;
  
    .footer-links {
      position: absolute;
      bottom: 20px;
      width: 100%;
      color: #b66d00;
  
      a {
        color: #b66d00;
        text-decoration: none;
      }
    }
  }
  
  .login-card {
    width: 380px;
    border-radius: 12px;
  }
  
  .login-logo {
    width: 150px;
  }
  
  .shop-btn {
    background-color: #5b2dff;
    border: none;
  }
  