.product-details-page {
    .product-left {
      display: flex;
      gap: 15px;
    }
  
    /* Thumbnails */
    .thumbnail-list {
      display: flex;
      flex-direction: column;
      max-height: 420px;
      overflow-y: auto;
      padding-right: 5px;
    }
  
    .thumb-item {
      margin-bottom: 10px;
      border: 2px solid transparent;
      padding: 3px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s ease;
  
      &:hover {
        transform: scale(1.1);
      }
  
      img {
        width: 65px;
        height: 65px;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  
    .thumb-item.active {
      border-color: #0d6efd !important;
      transform: scale(1.1);
    }
  
    /* Main Image */
    .main-image-box {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .main-image {
        width: 100%;
        max-height: 430px;
        object-fit: contain;
        cursor: zoom-in;
        transition: 0.3s ease;
      }
    }
  }
  