@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

$font-family: 'Mulish', sans-serif;
$white-color: #ffffff;
$black-color: #000000;
$base-background: #9b9312;
$border-color: #8b830d;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topbar {
    background-color: $base-background;
    padding: 0px 50px;

    .topbar-content {
        display: flex;
        align-items: center;
        padding: 5px 0;
    }

    .topbar_left {
        flex: 0 0 auto;

        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            border-right: 1px solid $border-color;
            padding: 4px 10px;

            &:last-child {
                border-right: none;
            }

            &:hover {
                background: $white-color;
                border-radius: 3px;

                a {
                    color: $base-background;
                }
            }

            a {
                text-decoration: none;
                color: $white-color;
                transition: color 0.3s ease; 
            }
        }
    }

    .topbar_center {
        flex: 1;
        text-align: center;
        color: $white-color;
        font-family: $font-family;
        font-weight: 100;
        font-size: 14px;
    }
}

.product-container{
    a{
        font-size: 0.75em;
        text-decoration-thickness: 1px;
        font-weight: 500;
        text-decoration: underline;
        color: $base-background;
        text-underline-offset: 2px;
        font-family: $font-family;
    } 
}

.card {
    overflow: hidden; 
    border-radius: 10px;
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .card-body {
        padding: 15px;

        .card-title {
            font-family: $font-family;
            font-weight: 700;
            font-size: 1em;
            color: $black-color;
            margin-bottom: 10px;
        }

        .card-img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            overflow: hidden; 
            display: inline-block;

            img {
                width: 100%;
                height: auto;
                border-radius: 5px;
                transition: transform 0.4s ease;
            }

            &:hover img {
                transform: scale(1.05); // Zoom effect on hover
            }
        }

        p {
            font-family: $font-family;
            font-weight: 400;
            font-size: 0.875em;
            color: #555555;
            margin-bottom: 15px;
        }

        .btn {
            // background-color: $base-background;
            padding: 4px 11px !important;
            color: $white-color;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            font-family: $font-family;
            font-size: 13px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: lighten($base-background, 10%);
            }
        }
    }
}



  